{% block sidebar %}

<style>
  .card {
    box-shadow: 0 1px 48px hsla(66, 67%, 78%, 0.884);
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-left">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> 
         I am passionate middle school educator dedicated to providing an exceptional learning environment for our students.         One of the key elements we believe in is the utilization of teaching aids to enhance instruction and foster student 
         Through this page, we aim to share our knowledge and experiences with fellow educators, highlighting the incredible impact that well-chosen teaching aids can have on student learning 
         outcomes. Join me on this journey as we celebrate the power of teaching </p>
      <a href="https://bekbrace.com" class="btn btn-primary">Visit Website!</a>
      <!--<a href="https://docs.djangoproject.com/en/3.1/" class="btn btn-secondary">Django Docs</a>-->
    </div>
  </div>
</div>

{% endblock sidebar %}